html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0;
}

#glCanvas {
    width: 100%;
    position: absolute;
}
